.contact__description {
	@include text_1();
	margin-top: 20px;

	@include respond-to(tablet) {
		display: flex;
		
		flex-direction: column;
//		margin-top: 30px;
		width: 50%;
	}

	a {
		@include animate-link-underline-left($black, false, 3px);
		color: $black;
		display: inline-block;
		margin-bottom: 5px;
		text-decoration: none;
	}

	> .react-reveal {
		display: block;

		@include respond-to(desktop) {
			//display: table-cell;
			//padding-right: 50px;
			//width: 50%;
		}

		.social-links__container {
			margin-top: 0;
		}

		+.react-reveal {
			//border-top: 1px solid $black;
			//margin-top: 50px;
			padding-top: calc(100vw / 18);

			@include respond-to(desktop) {
				border-top: 0px solid $black;
				//border-left: 1px solid $black;
				//margin-top: 0;
				//padding-left: 50px;
				//padding-top: 0;
			}


			@include respond-to(desktop_big) {
			}
		}
	}
}
