
//
// Media queries
// --------------------------------------------------

$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;
$break-larger: 1400px;


//
// Colors
// --------------------------------------------------

$black: #282828;

$margin-mobile: 50px;
$margin-tablet: 70px;
$margin-desktop: 80px;
$margin-desktop-big: 100px;
