$green: green;

@import 'helper/variables';
@import 'helper/mixins';
@import 'helper/reset';
@import 'pages/about';
@import 'helper/animations/animation-variables';
@import 'helper/animations/animation-buttons';
@import 'helper/animations/animation-links';


@import 'components/general';
@import 'components/menu';
@import 'components/social-links';
@import 'components/tables';
@import 'components/tags';
@import 'components/header/header_1';
@import 'components/header/header_2';
@import 'components/header/header_3';
@import 'components/blocks/block-content';
@import 'components/blocks/block-image';
@import 'components/blocks/block-list-projects';
@import 'components/blocks/block-big-item';
@import 'components/blocks/block-small-item';
@import 'components/blocks/block-full-item';
@import 'components/blocks/block-video';
@import 'pages/directors/directors';
@import 'pages/contact';

@import 'components/vimeoPlayer';

.sass-example {
  color: $green;
}

.menu__container {
  background: white;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: all 0.6s 0s;

  .open-menu & {
    transform: translateX(0);
  }
}

body {

	color: $black;
}

body {
	font-family: 'Montserrat Regular', sans-serif;
}

.footer__container {
	margin-top: 80px;
}

.template-1, .template-2 {
	@include transition();
	padding-bottom: $margin-mobile;

	@include respond-to(tablet) {
		padding-bottom: $margin-tablet;
	}
	@include respond-to(desktop) {
		padding-bottom: $margin-desktop;
	}
	@include respond-to(desktop_big) {
		padding-bottom: $margin-desktop-big;
	}
}

@font-face {
	font-family: 'Montserrat Regular';
	src: url('/static/fonts/Monserrat/montserrat-regular-webfont.eot');
	src: url('/static/fonts/Monserrat/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('/static/fonts/Monserrat/montserrat-regular-webfont.woff2') format('woff2'),
	url('/static/fonts/Monserrat/montserrat-regular-webfont.woff') format('woff'),
	url('/static/fonts/Monserrat/montserrat-regular-webfont.ttf') format('truetype'),
	url('/static/fonts/Monserrat/montserrat-regular-webfont.svg#montserratregular') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Montserrat Medium';
	src: url('/static/fonts/Monserrat/montserrat-medium-webfont.eot');
	src: url('/static/fonts/Monserrat/montserrat-medium-webfont.eot?#iefix') format('embedded-opentype'),
	url('/static/fonts/Monserrat/montserrat-medium-webfont.woff2') format('woff2'),
	url('/static/fonts/Monserrat/montserrat-medium-webfont.woff') format('woff'),
	url('/static/fonts/Monserrat/montserrat-medium-webfont.ttf') format('truetype'),
	url('/static/fonts/Monserrat/montserrat-medium-webfont.svg#montserratmedium') format('svg');
	font-weight: normal;
	font-style: normal;

}
