.header-1__container {
	overflow: hidden;
	position: relative;

	/* .template-1 & {
		min-height: 100vh;
	}
	 */
	//padding-bottom: 67.5%;

	/*@include respond-to(tablet) {
		padding-bottom: 67.5%;
	}

	@include respond-to(desktop) {
		height: auto;
		padding-bottom: 56.25%;
	}*/

	.rh5v-DefaultPlayer_component {
		position: relative;

		@include respond-to(mobile) {
			padding-bottom: 127%;
		}
		@include respond-to(tablet) {
			.rh5v-DefaultPlayer_video {
				position: relative
			}
		}
	}

	.rh5v-DefaultPlayer_video {
		@include transform(translateX(0));
		left: 0;
		float: left;
		min-width: 0;
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
	}

	&.directors {
		min-height: 0;
		padding-bottom: 56.25%;
	}
}

div.carousel.carousel-slider {
	bottom: 0;
	left: 0;
	opacity: 1;
	position: absolute;
	top: 0;
	right: 0;
}

div.carousel .control-dots .dot {
	box-shadow: 0 0 0;
} 

.header-1__carrousel {
	//height: 100%; 
	position: relative;
	padding-bottom: 56.25%;
	width: 100%;
}

.header-1__video-container {
	/*bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;*/
	width: 100%;
	//z-index: 0;

	video,
	.vimeo {
		height: auto;
		left: 50%;
		min-height: 100%;
		min-width: 100%;
		max-width: 120%;
		position: absolute;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		width: auto;
		z-index: 71;
	}
}

.header-1__container-content {
	box-sizing: border-box;
	left: 0;
	position: relative;
	right: 0;
	text-align: left;
	padding: 40px 20px 0;
	width: 100%;
	z-index: 1;

	p {
		margin: 0;
	}

	@include respond-to(tablet) {
		margin-top: 67px;
		padding: 0 67px;
	}

	&.director {
		@include respond-to(tablet) {
			margin-top: 100px;
			padding: 0 100px;
		}
	}
	/* 

	@include respond-to(tablet) {
		padding: $margin-tablet 100px 0;
	}

	@include respond-to(desktop) {
		padding: $margin-desktop 100px 0;
	} */

	@include respond-to(desktop_big) {
		margin-left: auto;
		margin-right: auto;
        max-width: calc(1200px + (100% / 6));
		max-width: 1600px;
		//padding-left: 50%;
		//padding: $margin-desktop-big $margin-desktop-big 0;
	}
}

.header-1__container-content-wrapper {
	@include respond-to(desktop) {
		padding-left: 50%;
		
		&.projects { 
			min-height: 500px;
		}
	}
	

	&.projects { 
		min-height: 500px;
	}
}

.header-1__container-content-title {
	//@include secondary_font();
	@include transition(all, 0.3s, 0s, $animationEffect);
	font-size: 35px;

	@include respond-to (tablet){
		font-size: 42px;
	}

	@include respond-to (desktop){
		font-size: 70px;
		line-height: 75px;
		margin: 0;
	}


	strong {
		@include secondary_font();
		font-weight: normal;
	}
}

.rh5v-Overlay_component,
.rh5v-DefaultPlayer_controls {
	display: none;
}

.header-1__secundary-title {
	font-size: 21px;
	position: relative;

	text-decoration: underline;
}
