.header-1__container {
	overflow: hidden;
	position: relative;
	padding-bottom: 67.5%;

	@include respond-to(tablet) {
		padding-bottom: 67.5%;
	}

	@include respond-to(desktop) {
		height: auto;
		padding-bottom: 56.25%;
	}
}

.header-1__video-container {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;

	video,
	.vimeo {
		height: auto;
		left: 50%;
		min-height: 100%;
		min-width: 100%;
		max-width: 120%;
		position: absolute;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		width: auto;
		z-index: 71;
	}
}

.header-1__container-content {
	box-sizing: border-box;
	left: 0;
	position: relative;
	right: 0;
	text-align: left;
	padding: 40px 20px 0;
	width: 100%;
	z-index: 1;

	p {
		margin: 0;
	}

	@include respond-to(tablet) {
		padding: $margin-tablet $margin-tablet 0;
	}

	@include respond-to(desktop) {
		padding: $margin-desktop $margin-desktop 0;
	}

	@include respond-to(desktop_big) {
		margin-left: auto;
		margin-right: auto;
		max-width: 1200px;
		padding: $margin-desktop-big $margin-desktop-big 0;
	}
}

.header-1__container-content-title {
	@include transition(all, 0.3s, 0s, $animationEffect);
	font-size: 35px;

	@include respond-to (tablet){
		font-size: 42px;
	}

	@include respond-to (desktop){
		font-size: 56px;
	}

	@include respond-to (desktop_big){
		font-size: 63px;
	}
}

.rh5v-Overlay_component,
.rh5v-DefaultPlayer_controls {
	display: none;
}

.header-1__container-content {

}

.header-1__secundary-title {
	font-size: 21px;
	position: relative;

	text-decoration: underline;
}
