.header-3__container {
	position: relative;
	min-height: 100vh;
	overflow: hidden;

	@include respond-to(tablet) {
		min-height: 0;
	}
}


.header-3__container-content {
	box-sizing: border-box;
	left: 0;
	position: relative;
	right: 0;
	text-align: left;
	padding: 100px 20px 50px;
	width: 100%;
	z-index: 1;

	p {
		margin: 0;
	}

	@include respond-to(tablet) {
		padding: 140px $margin-tablet;
	}

	@include respond-to(desktop) {
		padding: 140px $margin-desktop;
		max-width: 960px;
	}

	@include respond-to(desktop_big) {
		max-width: 800px;
		margin: 0 105px;
		padding: 140px 0;
	}
}

.header-3__vimeo-container {
	bottom: 0;
	left: 0;
	padding-bottom: 56.25%;
	position: absolute;
	right: 0;
	top: 0;
}

.videoPlaying_false {
	.rh5v-Fullscreen_component,
	.rh5v-Volume_component,
	.rh5v-Time_component,
	.rh5v-Seek_component,
	.rh5v-DefaultPlayer_video {
		opacity: 0;
	}
}

.videoPlaying_true {
	.rh5v-Fullscreen_component,
	.rh5v-Volume_component,
	.rh5v-Time_component,
	.rh5v-Seek_component,
	.rh5v-DefaultPlayer_video {
		opacity: 1;
	}
	.rh5v-DefaultPlayer_video {
		background-color: #f3f3f3;
	}
}

.rh5v-Seek_component {
	@include transition(all, 0.3s, 0s, $animationEffect);
}

.rh5v-DefaultPlayer_video {
	@include transition(all, 0.3s, 0s, $animationEffect);
	width: 100%;
}

.header-3__video-container {
	background: #f3f3f3;
	left: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	right: 0;
	top: 0;

	.vimeo {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
	}

	&:hover {
		.background-image {
			@include transform(scale(1.02,1.02));
		}
	}
}

.vimeo-image {
	background-size: cover;
	background-image: none!important;
}

.vimeo-play-button {
	@include transition(all, 0.3s, 0s, $animationEffect);
	background-image: url('/static/images/mobile/play.png');
	border-color: transparent;
	background-size: cover;
	background-color: transparent;
	//background: none;
	/*border-left: 60px solid white;
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;*/
	height: 70px;
	left: 50%;
	margin-top: -35px;
	margin-left: -35px;
	position: absolute;
	top: 50%;
	width: 70px;
	svg {
		display: none;
	}

	&:hover {
		@include transform(scale(1.1,1.1));
	}
}

.vimeo-embed {
	iframe {
		position: absolute;
		left: 0;
		width: 100%;
		bottom: 0;
		height: 100%;
	}
}

.header-3__container-content-title {
	font-size: 42px;
	font-weight: normal;

	@include respond-to (tablet){
		font-size: 63px;
	}

	@include respond-to (desktop){
		font-size: 63px;
	}
}

.header-3__container-content-description {
	font-size: 21px;
	line-height: 33px;
	margin-top: 20px;

	@include respond-to(tablet) {
		margin-top: 30px;
	}

	a {
		@include animate-link-underline-left($black, true);
		color: $black;
		display: inline;
		text-decoration: none;

		@include respond-to(tablet) {
			display: inline;
		}
	}
}
