.header-2__container-wrapper {
	overflow: hidden;
	background: #D9DBDB;
}

.header-3__container {
	+ .header-2__container {
		&.studio.tags-container {
			@include respond-to(tablet) {
				overflow: visible;
				height: 50px;

				.header-2__container-content {
					position: absolute;
					bottom: 0;
					margin: 0;
				}
			}
		}
	}
}
.header-2__container {
	position: relative;
	//min-height: 100vh;
	overflow: hidden;

	@include respond-to(tablet) {
		min-height: 0;
	}

	&.full {
		min-height: 100vh;
		@include respond-to(tablet) {
		}
	}

	&.fullScreen {
		min-height: 100vh;
		@include respond-to(tablet) {
			min-height: 100vh;
		}
	}


}

.header-2__video-container {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;

	video {
		height: auto;
		left: 50%;
		min-height: 100%;
		min-width: 100%;
		position: absolute;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		width: auto;
		z-index: 71;
	}
}

.header-2__container-content {
	box-sizing: border-box;
	left: 0;
	position: relative;
	right: 0;
	text-align: left;
	padding: 100px 20px 0;
	width: 100%;
	z-index: 1;

	@include respond-to(desktop) {
		padding: 100px 20px 50px;
	}
	&.about {
		@include respond-to(desktop_big) {
			margin: auto;
			max-width: 1400px;
		}
	}

	&.contact {
		padding-bottom: 30px;
		
		@include respond-to(tablet) {
			display: flex;
			justify-content: space-between;
		}
		
		+.contact {
			padding-bottom: 50px;
			padding-top: 0px;
	
			@include respond-to(tablet) {	
				padding-top: 67px;
				
				.social-links__container, 
				.contact__description {
					margin-top: 0;
					padding: 0;
				}
			}
		}
	}

	.tags-container & {
		padding: 0 20px 30px;
		margin-top: 0px;

		@include respond-to(tablet) {
			padding: 0 100px 50px;
			margin-top: 40px;

			display: inline-block;
			max-width: 30%;
		}

		.tag {
			display: inline-block;
			//margin-top: 10px;
		}
		.tag__title {
			font-size: 24px;
			margin-bottom: 40px;

			@include respond-to(tablet) {
				font-size: 28px;
			}

		}
		.tag-item {
			@include text_1();
			color: black;
			cursor: pointer;
			margin-right: 20px;
			text-decoration: none;

			&.active {
				.bold {
					opacity: 1;
				}

				.normal {
					opacity: 0;
				}
			}
		}

		.normal {
			opacity: 1;
			position: absolute;
		}
		
		.bold {
			@include secondary_font();
			font-weight: bold;
			opacity: 0;
		}
	}

	p {
		@include text_1();

		margin: 0;
	}

	@include respond-to(tablet) {
		padding: 140px 100px 0;
	}

	@include respond-to(desktop_big) {
		//max-width: 800px;
		margin: auto;
		max-width: 1600px;
	}
}

.header-2__container--description {
	padding: 0 20px;

	@include respond-to(tablet) {
		display: inline-block;
		max-width: 90%;
		padding-left: 100px;
		padding-bottom: 0;
		vertical-align: top;
	}

	@include respond-to(desktop) {
		display: inline-block;
		max-width: 70%;
		padding-left: 100px;
		padding-bottom: 100px;
		vertical-align: top;
	}

	@include respond-to(desktop_1600) {
		padding-left: calc(50% - 700px)
	}

	+.tags-container {
		margin-top: 60px;

		@include respond-to(tablet) {
			margin-top: 0;
		}

		@include respond-to(desktop) {
			display: inline-block;
			margin-top: 0;
			max-width: 30%;
			padding-left: 40px;
			padding-bottom: 100px;
			vertical-align: top;

			.header-2__container-content {
				padding: 0;
			}
		}

		@include respond-to(desktop_big) {
			padding-left: 100px;
		}
	}
}

.header-2__container-content-title {
	@include secondary_font();
	@include transition(all, 0.3s, 0s, $animationEffect);
	 
	font-weight: normal;
	opacity: 0;

	p {
		@include title_2();
	}

	@include title_1();

	.studio & {
		@include title_1();
		@include respond-to (tablet) {
			//padding-left: 50%;
			max-width: 810px;
		}
	}
}

.header-2_container-content-description {
	font-weight: normal;
	margin-top: 40px;

	@include text_1();

	.studio & {
		@include respond-to (tablet) {
			width: 50%;
		}
	}

	&.paddingExtra {

		@include respond-to(desktop) {
			//margin-top: 67px;
			//max-width: calc(550px + 20%);
			max-width: 480px;
		}

	}
}

.rh5v-Overlay_component,
.rh5v-DefaultPlayer_controls {
	display: none;
}
