.block-content__container {
	margin-top: $margin-mobile;
	padding: 0 20px;

	@include respond-to(tablet) {
		margin-top: $margin-tablet;
		padding: 0 $margin-tablet;
	}

	@include respond-to(desktop) {
		margin-top: $margin-desktop;
		padding: 0 $margin-desktop;
	}

	@include respond-to(desktop_big) {
		margin-top: $margin-desktop-big;
		padding: $margin-desktop-big $margin-desktop-big 0;
	}

	@include respond-to(desktop_big) {
		margin-top: $margin-desktop-big;
		padding: 0 $margin-desktop-big;
	}
}
/*
.block-content__container {
	padding: 0 20px;
	margin-top: $margin-mobile;
	position: relative;

	@include respond-to(tablet) {
		padding: 50px;
	}

	@include respond-to(desktop) {
		padding: 60px;
	}
}
*/
