
.block-list-projects__item {
	float: left;
	padding-bottom: 61%;
	position: relative;
	width: 100%;

	@include respond-to(tablet) {
		padding-bottom: 28%;
		width: 50%;
	}

	img {
		float: left;
		width: 100%;
	}
}

.block-list-projects__title {
	color: $white;
	cursor: pointer;
	font-size: 30px;
	opacity: 0;

	@include respond-to(tablet) {
		@include animate-link-underline-left($white, true);
		@include transition(all, 0.9s, 0s, $animationEffect);
		font-size: 32px;
	}

	p {
		margin: 0;
	}
}


.block-list-projects__subtitle {
	@include transform(translateY(10px));
	@include transition(all, 0.9s, 0s, $animationEffect);
	color: $white;
	cursor: pointer;
	font-size: 20px;
	opacity: 0;
	margin-top: 10px;
}

.block-list-projects__item {
	position: relative;

	&:hover {
		.block-list-projects__info {
			opacity: 1;
		}

		.block-list-projects__title {
			opacity: 1;
		}

		.block-list-projects__subtitle {
			@include transform(translateY(0));
			opacity: 1;
		}

		.background-image {
			@include transform(scale(1.02,1.02));
		}
	}
}

.background-image {
	@include transition(all, 2.9s, 0s, $animationEffect);
	background-position: center;
	bottom: 0;
	background-size: cover;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.block-list-projects__info {
	@include transition(all, 0.6s, 0s, $animationEffect);
	background: rgba(0,0,0,.4);
	bottom: 0;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
}

.block-list-projects__table {
	display: table;
	height: 100%;
	text-align: center;
	width: 100%;
}

.block-list-projects__cell {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
}

.block-list-projects__image {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
}
