.block-image__container {

}
.animated.fadeIn {
	@include transition(all, .6s, 0s);
}

.animated {
	@include transform(translateY(30px));
	opacity: 0;
}
.fadeIn {
	@include transform(translateY(0));
	opacity: 1;
}

.block-image__item {
	backgorund-color: #f3f3f3;
	float: left;
	padding-bottom: 61%;
	position: relative;
	width: 100%;

	@include respond-to(tablet) {
		padding-bottom: 33.25%;
		width: 50%;
	}

	img {
		float: left;
	}
}

.block-image__title {
	font-size: 21px;
	margin-bottom: 30px;
	position: relative;
	text-decoration: underline;
}

