.block-small-item__container {
	@include default_margins();

	@include respond-to(desktop_big) {
		margin-left: auto;
		margin-right: auto;
		max-width: 1200px;
	}
}

.block-small-item__image-container {
	display: inline-block;

	@include respond-to(tablet) {
		display: table-cell;
		width: 50%;
	}

	@include respond-to(desktop) {
		width: 34%;
	}

	img {
		display: block;
	}
}

.block-small-item__content-container {
	display: inline-block;
	padding: 20px 0 0;

	@include respond-to(tablet) {
		display: table-cell;
		box-sizing: border-box;
		padding: 0 0 0 60px;
		vertical-align: top;
		width: 50%;
	}

	@include respond-to(desktop) {
		width: 66%;
	}
}

.block-small-item__title {
	a {
		@include animate-link-underline-left($black);
		color: $black;
		display: inline-block;
		font-size: 28px;
		font-weight: normal;
		text-decoration: none;

		@include respond-to(tablet) {
			font-size: 42px;
		}

		p {
			margin: 0;
		}
	}
}

.block-small-item__subtitle {
	font-size: 21px;
	line-height: 26px;
	margin-top: 20px;

	@include respond-to (tablet) {
		font-size: 20px;
		line-height: 26px;
	}

	@include respond-to(desktop) {
		font-size: 21px;
		line-height: 29px;
	}
}
