.masonry-content {
	transition: all 0.3s;
	opacity: 0;
	
	&.show {
		opacity: 1;
	}
}

.grid-sizer {
	width: calc(100vw / 12);
}

.block-list-projects__item {
	float: left;
	padding-bottom: 60%;
	position: relative;
	width: 100%;

	@include respond-to(tablet) {
		padding-bottom: 33.25%;
		width: 50%;
	}

	img {
		float: left;
		width: 100%;
	}

	@include respond-to(tablet) {
		&.portraitSmall {
			padding-bottom: calc(100% / 3);
			width: calc(100% / 3);
		}

		&.portraitBig {
			padding-bottom: 66.66%;
			width: calc(100% / 3);
		}

		&.landscapeSmall {
			padding-bottom: calc(100% / 6);
			width: calc(100% / 3);
		}

		&.landscapeBig {
			padding-bottom: calc(100% / 3);
			width: 66.66%;
		}

		&.square {
			padding-bottom: calc(100% / 4);
			width: calc(100% / 4);
		}
	}

	@include respond-to(mobile) {
		.block-list-projects__info {
			background: rgba(0, 0, 0, 0.36);
			opacity: 1;
		}

		.block-list-projects__title {
			padding: 0 20px;
			opacity: 1;
		}

		.block-list-projects__subtitle {
			@include transform(translateY(0));
			opacity: 1;
		}

		.background-image {
			@include transform(scale(1.1,1.1));
			@include transition(all, 2.9s, 0s, $animationEffect);

		}
	}

	&:hover {
		.block-list-projects__info {
			opacity: 1;
		}

		.block-list-projects__title {
			opacity: 1;
		}

		.block-list-projects__subtitle {
			@include transform(translateY(0));
			opacity: 1;
		}

		.background-image {
			@include transform(scale(1.1,1.1));
			@include transition(all, 2.9s, 0s, $animationEffect);

		}
	}
}

.block-list-projects__title {
	@include secondary_font();
	color: $white;
	cursor: pointer;
	font-size: 30px;
	opacity: 0;

	@include respond-to(tablet) {
		@include transition(all, 0.9s, 0s, $animationEffect);
		font-size: 35px;
	}

	p {
		margin: 0;
	}
}


.block-list-projects__subtitle {
	@include transform(translateY(10px));
	@include transition(all, 0.9s, 0s, $animationEffect);
	color: $white;
	cursor: pointer;
	font-size: 20px;
	opacity: 0;
	margin-top: 10px;
}

.background-image {
	@include transition(all, .6s, 0s, $animationEffect);
	background-position: center;
	bottom: 0;
	background-size: cover;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.block-list-projects__info {
	@include transition(all, 0.6s, 0s, $animationEffect);
	background: rgba(0, 0, 0, 0.36);
	bottom: 0;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
}

.block-list-projects__table {
	display: table;
	height: 100%;
	text-align: center;
	width: 100%;
}

.block-list-projects__cell {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
}

.block-list-projects__image {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;

	img {
		@include transition(all, 2.3s, 0s, $animationEffect);
	}
}

.block-list-projects__anim {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;

	&:hover {
		img {
			@include transform(scale(1.1,1.1));
		}
	}
}
