.block-image__container {
	position: relative;
	width: 100%;
}
.animated.fadeIn {
	@include transition(all, .6s, 0s);
}

.animated {
	@include transform(translateY(30px));
	opacity: 0;
}
.fadeIn {
	@include transform(translateY(0));
	opacity: 1;
}

.block-image__item {
	background-color: $background-video-color;
	display: inline-block;
	padding-bottom: 61%;
	position: relative;
	width: 100%;

	@include respond-to(tablet) {
		//padding-bottom: 31%;
		float: left;
		width: 100%;
	}

	/* @include respond-to(tablet) {
		padding-bottom: 33.25%;
		width: 50%;

		&.portraitSmall {
			padding-bottom: 33.33%;
			width: 33.33%;
		}

		&.portraitBig {
			padding-bottom: 66.66%;
			width: 33.33%;
		}

		&.landscapeSmall {
			padding-bottom: 16.665%;
			width: 33.33%;
		}

		&.landscapeBig {
			padding-bottom: 33.33%;
			width: 66.66%;
		}
	} */

	img {
		float: left;
	}
}

.block-image__title {
	@include text_1();
	margin-bottom: 40px;
	position: relative;
	text-decoration: underline;
}

.block-image__image-container {
	@include respond-to(desktop) {
		display: grid;
		grid-template-columns: auto auto;
	}
}
