.footer {
    &__container {
        @include text_1();
        color: $white;
        padding: 20px;
        margin: auto;

        @include respond_to(tablet) {
            max-width: 1600px;
            padding: 67px;
        }

        .social-links__container {
            align-items: baseline;
            color: $white;
            display: flex;
            flex-direction: column;
            padding: 0;
            margin-bottom: 67px;
        }

        .social-links__item {
            color: $white;
            margin: 0;
            
            &:after {
                background-color: $white;
            }
        }
        
        .social-links__title {
            color: $white;
            display: none;
        }
    }

    &__row {
        @include respond_to(tablet) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__cell {
        @include respond_to(tablet) {
            width: 50%;
        }

        + .footer__cell {
            margin-top: 67px;
            
            @include respond_to(tablet) {
                margin-top: 0;
                width: 50%;
            }
        }
    }

    &__logo {
        background-image: url('/static/images/mobile/brut-works-logo-white.svg');
        background-size: cover;
        display: inline-block;
        height: 100px;
        width: 100px;
        
        @include respond_to(tablet) {
            height: 220px;
            width: 220px;
        }
    }

    &__text {
        h1,h2 {
            font-size: 40px;
            line-height: 40px;
            margin-bottom: 10px;

            @include respond_to(tablet) {
                font-size: 60px;
                line-height: 60px;
            }
        }
        p {
            @include text_1();
            margin: 0;

            @include respond_to(tablet) {
                line-height: 36px;
            }
        }

        a {
            @include animate-link-underline-left($white, false, 3px);
            color: $white;
            display: inline-block;
            text-decoration: none;
        }
    }
}