.general__container {
	box-sizing: border-box;
	display: table;
	list-style: none;
	padding: 40px 20px 0;
	width: 100%;

	@include respond-to(tablet) {
		padding: $margin-tablet 50px 0 50%;
	}
}

.general__title {
	font-size: 21px;
	text-decoration: underline;
	@include text_1();
}

.general__link-title {

	a {
		//@include animate-link-underline-left($black);
		@include secondary_font();
		color: $black;
		display: inline-block;
		font-size: 28px;
		font-weight: normal; 
		line-height: 42px;
		font-weight: normal;
		text-decoration: none;
		margin-left: -3px;

		@include respond-to(tablet) {
			font-size: 35px;
			line-height: 35px;
		}

		@include respond-to(desktop) {
			font-size: 50px;
			line-height: 50px;
		}

		p {
			margin: 0;
		}
	}
}

.general__text {
	font-size: 21px;
	line-height: 33px;
	margin-top: 20px;

	@include respond-to (tablet) {
		font-size: 25px;
		line-height: 32px;
		margin-top: 10px;
	}
}

.general__link {

}

button {
	outline: none;
}

.about__title {
	font-size: 40px;
}

.react-reveal {
	//opacity: 0;
}

/*.fadeInUp {
	@include transform(translateY(0));
	animation-name: fadeInUp;
	animation-iteration-count: 1;
	//opacity: 1;
}

@keyframes fadeInUp {
	0% {
		@include transform(translateY(30px));
		opacity: 0;
	}

	100% {
		@include transform(translateY(0));
		animation-duration: 1000ms;
		animation-delay: 0ms;
		animation-iteration-count: 1;
		opacity: 1;
	}
}*/


@keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 50px, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

@keyframes fadeInUpText {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 80px, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.fadeInUpText {
	-webkit-animation-name: fadeInUpText;
	animation-name: fadeInUpText;
}

.back-to {
	@include animate-link-underline-left($black, true, 3px);
	-webkit-appearance: none;
	color: $black;
	float: left;
	font-size: 30px;
	margin-bottom: 30px;
	text-decoration: none;

	&:hover {
		&:after {
			width: calc(100% - 24px);
		}
	}

	&:after {
		bottom: -3px;
		left: 24px;
		/*width: calc(100% - 12px);*/
	}
}

.next-to {
	@include animate-link-underline-left($black);
	-webkit-appearance: none;
	color: $black;
	float: right;
	font-size: 30px;
	margin-bottom: 30px;
	text-decoration: none;

	&:after {
		bottom: -3px;
		left: 0;
		width: calc(100% - 12px);
	}
}

.hidden {
	display: none;
}

.links-navigation {
	float: left;
	width: 100%;

	@include respond-to(tablet) {
		width: 50%;
	}
}

.no-blocks {
	padding-bottom: 50px;
}
