
.bm-menu {
	background-color: rgba(217,217,207,.9);
	background-size: 100% auto;
	background-position: 50%;
	background-repeat: no-repeat;
	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
}

.menu-item {
	color: $black;
	clear: both;
	display: inline-block;
	float: left;
	position: relative;
	text-decoration: none;

	@include respond-to(desktop) {
	//	@include animate-link-underline-left($black);
	}

	&.active {
		.bold {
			@include secondary_font();
			opacity: 1;
		}
	
		.normal {
			opacity: 0;
		}
	}
	
	@include respond-to(hoverActive) {
		.bold {
			@include secondary_font();
			opacity: 1;
		}
	
		.normal {
			opacity: 0;
		}
	}

	.bold {
		@include secondary_font();
		background-position: 10px 10px;
		background-size: 4px;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-image: url('/static/images/mobile/pattern.svg');
		opacity: 0;
		transition: opacity 0.6s;
		transform: translateY(-10px);
	}

	.normal {
		left: 0;
		position: absolute;
		transition: opacity 0.6s;


//		background: url(images/fire.jpg) no-repeat;
	}
}

.bm-burger-button {
	.black & {
		z-index: 1200!important;

		.bm-burger-bars {
			top: 50%!important;
			display: none;

			&:first-child {
				display: block;
				@include transform(rotate(45deg));
			}

			&:last-child {
				display: block;
				@include transform(rotate(-45deg));
			}
		}

		@include respond-to(hover) {
			.bm-burger-bars {

				&:first-child {
					opacity: 1!important;
					@include transform(rotate(42deg));
				}

				&:last-child {
					opacity: 1!important;
					@include transform(rotate(-42deg));
				}
			}

		}
	}
}

.bm-burger-bars {
	@include transition(all, 0.3s, 0s, $animationEffect);
}

.bm-burger-button {
	@include respond-to(hover) {
		.bm-burger-bars {
			opacity: 1!important;

			&:first-child {
				@include transform(translateY(-2px));
				opacity: 1!important;
			}

			&:last-child {
				@include transform(translateY(2px));
				opacity: 1!important;
			}
		}
	}
}

.menu__home-logo {
	background-image: url('/static/images/mobile/brut-works-logo.svg');
	background-size: cover;
	height: 50px;
    position: fixed;
    right: 10px;
	transition: all 0.2s;
    top: 10px;
    width: 50px;
	z-index: 1101;

	@include respond-to(tablet) {
		height: 86px;
		width: 86px;
	}
	
	@include respond-to(hover) {
		transform: scale(1.05);
	}
}

.videoFloag {
	position: fixed;
	right: 0;
	z-index: 1111;

}

.menu__back {
	color: $black;
	font-size: 35px;
	left: 78px;
	position: fixed;
	top: 13px;
	text-decoration: none;

	@include respond-to(tablet) {
		@include animate-link-underline-left($black);
		font-size: 35px;
		left: 100px;
		position: fixed;
		top: 30px;
	}
}

.bm-burger-button {
	height: 23px;
    left: 16px;
    position: fixed;
    top: 16px;
	width: 30px;

	span {
		border-radius: 1px;
	}

	@include respond-to(tablet) {
		left: 36px;
		top: 36px;
	}
}



/* Color/shape of burger icon bars */
/*.bm-burger-bars {
	background: #373a47;
}*/

/* Position and sizing of clickable cross button */
.bm-cross-button {
	display: none;
	height: 24px;
	width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
	background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
	padding: 80px 20px 0;
	font-size: 21px;

	@include respond-to(tablet) {
		font-size: 42px;
		padding: 80px 25px 0;
	}
}

/* Morph shape necessary with bubble or elastic */
/*.bm-morph-shape {
	fill: #373a47;
}*/

/* Wrapper for item list */
/*.bm-item-list {
	color: #b8b7ad;
	padding: 0.8em;
}*/

/* Styling of overlay */
.bm-overlay {
	background: rgba(0, 0, 0, 0.3);
}

.menu-item {
	//@include secondary_font();
	color: $black;
	font-size: 42px;

	@include respond-to(tablet) {
		font-size: 49px;
	}

	@include respond-to(desktop) {
		font-size: 63px;
	}

	@include respond-to(desktop_big) {
		font-size: 84px;
	}

	&:after {
		height: 4px;
	}

	@include respond-to(hover) {
		&:after {
			width: 100%;
		}
	}
}

.bm-menu-wrap {
}

.bm-burger-bars {
	background: $black;
	border-radius: 1px;
	height: 4px!important;
}

.bm-cross-button {
	height: 24px;
	width: 24px;
}

.bm-cross {
	border-radius: 4px;
	height: 30px;
	width: 4px;
	background: #CCCCCC;
}

.bm-morph-shape {
	fill: #373a47;
}

.bm-item-list {
	@include transition(all, 1s, 0s, $animationEffect);
	@include transform(translateX(-100%));
	color: $white;
	padding: 0;

	@include respond-to(tablet) {
		padding: 60px 75px;
	}

	@include respond-to(desktop) {
		@include transition(all, 1.6s, 0s, $animationEffect);
		padding: 60px 75px;
	}

	@include respond-to(desktop_big) {
		padding: 60px 72px;
	}

	.black & {
		@include transform(translateX(0));
	}
}

.bm-overlay {
	background: rgba(0, 0, 0, 0.9);
}

