.social-links__container {
	margin-top: 30px;
	
	@include respond-to(tablet) {
		margin-top: 50px;
	}
	
	@include respond-to(desktop) {
		margin-top: 70px;
	}
}

.social-links__title {
	color: $black;
	margin-bottom: 10px;
	@include text_2();
}

.social-links__item {
	@include animate-link-underline-left($black, false, 3px);
	color: $black;
	display: inline-block;
	position: relative;
	margin-right: 30px;
	margin-bottom: 5px;
	text-decoration: none;

	@include text_2();

	&:after {
		bottom: -4px;
		left: 1px;
	}
}
