.social-share__container {
	display: table;
	margin-top: 40px;
	padding: 0;
	width: 100%;
	
	@include respond-to(tablet) {	
		align-items: baseline;
		display: flex;
		flex-direction: column;
		margin-top: 67px;
		max-width: 1600px;
		padding: 0;
		margin: auto;
	}
	
	@include respond-to(desktop) {
		margin-top: 70px;
	}

	.projects & {

		@include respond-to(desktop) {
			align-items: baseline;
			display: flex;
			flex-direction: column;
			left: -230px;
			margin-top: 0;
			position: absolute;
			top: 0;
		}
	}
}

.social-share__container--layout {
	display: flex;
	width: 120px;
	justify-content: space-between;

	.contact & {
		margin-bottom: 4px;
	}
}

.social-share__container--wrapper {
	display: table;
	margin-top: 30px;
	width: 100%;

	@include respond-to(tablet) {
		margin: auto;
		margin-top: 30px;
		max-width: 1600px;
	}

	.footer__cell & {
		display: flex;
		align-items: baseline;
		flex-direction: column;
	}

	.contact & {
		@include respond-to(tablet) {
			align-items: baseline;	
			display: flex;
			flex-direction: column;
			margin-top: -240px;
		}
	}

}

.social-share__copyright {
	font-size: 24px;
}
.social-share__title {
	@include text_1();
	font-size: 28px;
	color: $black;
	margin-right: 30px;
	margin-bottom: 26px;

	.contact & {
		@include title_3();
		margin-bottom: 10px;
	}
}

.social-share__item {
	//@include animate-link-underline-left($black, false, 3px);
	color: $black;
	display: inline-block;
	position: relative;
	margin-right: 30px;
	margin-bottom: 5px;
	text-decoration: none;
	@include text_1();

	&:after {
		bottom: 0px;
		left: 1px;
	}
}
