.tables__container {
	margin-top: 20px;
	max-width: 800px;
}

.tables__item {
	display: table;
	width: 100%;

	+ .tables__item {
		margin-top: 10px;
	}
}

.tables__heading {
	display: table-cell;
	max-width: 200px;
	vertical-align: top;
	@include text_1();
	width: 50%;
}

.tables__custom {
	display: table-cell;
	padding-left: 10px;
	@include text_1();

	@include respond-to(tablet) {
		display: inline-block;
	}
}
