.link-directors__container {
	padding: 100px 20px 50px;
	position: relative;
	z-index: 1;

	@include respond-to(tablet) {
		padding: 100px calc(100vh / 12) 50px;
	}
	@include respond-to(desktop) {
		padding: 100px calc(100vh / 9) 50px;
	}

	.react-reveal {
		display: inline-block;
		margin-right: 25px;
		
		@include respond-to(tablet) {
			margin-right: 50px;
		}
		
		@include respond-to(desktop) {
			margin-right: 70px;
		}

		&:last-child {
			.link-directors__separator {
				display: none;
			}
		}
	}
}

.link-directors__item-container {
	font-size: 42px;
	position: relative;
	display: inline-block;

	@include respond-to(tablet) {
		font-size: 49px;
	}

	@include respond-to(desktop) {
		font-size: 63px;
	}

	@include respond-to(desktop_big) {
		font-size: 84px;
	}

	&:hover {
		z-index: 1;

		.link-directors {
		
			&--title {
				opacity: 1;
			}

			&--visible {
				opacity: 0;
			}
		}
	}
}

#video video {
	transition: all 0.3s;
	opacity: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: auto;
	min-height: 100%;
	min-width: 100%;
	height: auto;
	z-index: 0;
}

.link-directors {
	float: left;
	color: $black;

	&--video {
		opacity: 1;
		position: fixed;
		top: 0;
		left: 0;
		width: auto;
		min-height: 100%;
		min-width: 100%;
		height: auto;
		z-index: -1;
	}

	&--visible {
		color: $black;
		display: inline-block;
		left: 0;
		position: absolute;
		top: 0;
		transition: opacity 0.6s;
	}

	&--title {
		@include secondary_font();
		color: $black;
		display: inline-block;
		opacity: 0;
		margin-left: 0;
		position: relative;
		//transform: translateY(-1px);

		background-position: 10px 10px;
		background-size: 4px;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-image: url('/static/images/mobile/pattern.svg');
		opacity: 0;
		transition: opacity 0.6s;
		
		@include respond-to(tablet) {
			//transform: translateY(-6px);
		}
	}

	&:after {
		height: 3px;
		left: 3px;

		@include respond-to(tablet) {
			height: 4px;
		}

		@include respond-to(desktop) {
			height: 4px;
			left: 6px;
		}

		@include respond-to(desktop_big) {
			height: 6px;
			left: 9px;
		}
	}

	&:hover {
		transition: all 0.2s;
		@include secondary_font();

		&:after {
			width: calc(100% - 4px);

			@include respond-to(tablet) {
				width: calc(100% - 6px);
			}

			@include respond-to(desktop) {
				width: calc(100% - 10px);
			}

			@include respond-to(desktop_big) {
				width: calc(100% - 13px);
			}
		}
	}
}

.link-directors__separator {
	color: $black;
	position: absolute;
	right: -17px;
	
	@include respond-to(tablet) {
		right: -30px;
	}
	
	@include respond-to(desktop) {
		right: -50px;
	}
}
