.link-directors__container {
	max-width: 1000px;
	padding: 100px 20px 50px;

	@include respond-to(tablet) {
		padding: 140px $margin-tablet;
	}

	@include respond-to(desktop) {
		padding: 140px $margin-desktop;
		max-width: 960px;
	}

	@include respond-to(desktop_big) {
		max-width: 1400px;
		margin: auto;
		padding: 140px 100px;
	}
}

.link-directors__item-container {
	font-size: 35px;

	@include respond-to(tablet) {
		font-size: 49px;
	}

	@include respond-to(desktop) {
		font-size: 63px;
	}

	@include respond-to(desktop_big) {
		font-size: 84px;
	}
}

.link-directors {
	@include animate-link-underline-left($black);
	float: left;

	&:after {
		height: 4px;
		left: 3px;

		@include respond-to(tablet) {
			height: 5px;
		}

		@include respond-to(desktop) {
			left: 6px;
			height: 6px;
		}
	}
}

.link-directors__separator {
	color: $black;
	float: left;
	margin: 0 5px;
}
